$breakpoint-mobile-l: 425px;

h1 {
    text-align: center;
}

#button {
    text-align: center;
}

ul {
    margin: auto;
    width: 48%;   
}

ion-button {
    position: relative;
    top: 38px;
    margin: 1.5em;
}

@media (max-width: $breakpoint-mobile-l) {
    ul {
        width: 100%;   
    }
}