ion-item {
    --background: #ffffff;
    --border-color: #000000;
    --border-radius: 25px;
    --border-style: solid;
    --border-width: 2px;
    // height: 54px;
    --color: #000000;
}


.item-has-focus {
    --highlight-color-valid: transparent;
}

ion-button {
    margin-top: 30px;
}
