<ion-icon *ngIf="!settingsIsDisplayed" name="arrow-back-outline" class="back-arrow" routerLink="/games"></ion-icon>

<ion-content>
  <div *ngIf="!playing && !settingsIsDisplayed" id="top-container">
    <app-game-intro (beginPlayEvent)="beginPlay($event)" (changeSettingsEvent)="toggleSettings($event)" [game]="game"></app-game-intro>
  </div>
  <div *ngIf="playing" id="container">
    <h1 *ngIf="subjectIsDisplayed">{{ numbers }}</h1>
  </div>
  <div *ngIf="inputIsDisplayed" id="bottom-container">
    <app-game-answer (submitAnswerEvent)="submitUserAnswer($event)"></app-game-answer>
  </div>
  <div *ngIf="resultIsDisplayed" id="container">
    <app-game-result (beginPlayEvent)="beginPlay($event)" (changeSettingsEvent)="toggleSettings($event)" [gameResult]="gameResult"></app-game-result>
  </div>
  <div *ngIf="settingsIsDisplayed" id="container">
    <app-game-settings (goBackEvent)="toggleSettings($event)" (submitSettingEvent)="updateSettings($event)" [game]="game"></app-game-settings>
  </div>
</ion-content>