<h1>Settings</h1>
<h2>How many {{ game }}: {{ length.value }}</h2>
<ion-list>
  <ion-item id="first-item">
    <ion-label position="floating">How many numbers?</ion-label>
    <ion-input placeholder="6" type="number" [formControl]="length"></ion-input>
  </ion-item>
  <div class="inline-menu-items">
    <ion-item id="second-item">
      <ion-label>Minutes?</ion-label>
      <ion-input placeholder="1" type="number" [formControl]="timeMinutes"></ion-input>
    </ion-item>
    <ion-item id="third-item">
      <ion-label>Seconds?</ion-label>
      <ion-input placeholder="30" type="number" [formControl]="timeSeconds"></ion-input>
    </ion-item>
  </div>
  <ion-list-header>
    Font Size
  </ion-list-header>
  <ion-item>
    <ion-range min="14" max="42" step="2" value="24" pin snaps color="medium">
      <ion-icon slot="start" size="small" color="medium" name="text-outline"></ion-icon>
      <ion-icon slot="end" size="large" color="medium" name="text-outline"></ion-icon>
    </ion-range>
  </ion-item>
</ion-list>
<div id="button">
  <ion-button (click)="saveSettings()">Save</ion-button>
  <ion-button (click)="goBack()">Go Back</ion-button>
</div>