<h1>Settings</h1>
<form [formGroup]="settingsForm" (ngSubmit)="onSubmit()">
  <ion-list>
    <ion-item id="first-item">
      <ion-label position="floating">How many {{ game }}?</ion-label>
      <ion-input type="number" inputmode="numeric" formControlName="length" [(ngModel)]="this.settings.length"></ion-input>
    </ion-item>
    <div class="inline-menu-items">
      <ion-item id="second-item">
        <ion-label>Minutes?</ion-label>
        <ion-input type="number" inputmode="numeric" formControlName="timeMinutes" [(ngModel)]="this.settings.timeMinutes"></ion-input>
      </ion-item>
      <ion-item id="third-item">
        <ion-label>Seconds?</ion-label>
        <ion-input type="number" inputmode="numeric" formControlName="timeSeconds" [(ngModel)]="this.settings.timeSeconds"></ion-input>
      </ion-item>
    </div>
    <ion-list-header>
      Font Size
    </ion-list-header>
    <ion-item>
      <ion-range min="14" max="42" step="2" value="24" pin snaps color="medium">
        <ion-icon slot="start" size="small" color="medium" name="text-outline"></ion-icon>
        <ion-icon slot="end" size="large" color="medium" name="text-outline"></ion-icon>
      </ion-range>
    </ion-item>
  </ion-list>
  <div id="button">
    <ion-button color="light" type="submit">Save</ion-button>
    <ion-button color="light" (click)="goBack()">Go Back</ion-button>
  </div>
</form>

