<ion-grid>
  <ion-row>
    <ion-col>
      <div>Game #</div>
    </ion-col>
    <ion-col>
      <div>Game</div>
    </ion-col>
    <ion-col>
      <div># of Items</div>
    </ion-col>
    <ion-col>
      <div>Time</div>
    </ion-col>
    <ion-col>
      <div>W/L</div>
    </ion-col>
  </ion-row>
  <ion-row *ngFor="let game of gameStats">
    <ion-col>
      <div>{{ game.gameNumber }}</div>
    </ion-col>
    <ion-col>
      <div>{{ game.game }}</div>
    </ion-col>
    <ion-col>
      <div>{{ game.numberOfItems }}</div>
    </ion-col>
    <ion-col>
      <div>{{ game.numberOfSeconds }}</div>
    </ion-col>
    <ion-col>
      <div>{{ game.gameResult }}</div>
    </ion-col>
  </ion-row>
</ion-grid>