<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <div id="container">
    <img class="logo-image" src="../../assets/icon/palace_logo.png">
    <h1>palace</h1>
    
    <ion-button expand="block">Find a Game</ion-button>
    <ion-button expand="block">Learn</ion-button>
    <ion-button expand="block">Profile</ion-button>
    <ion-button expand="block">Settings</ion-button>

  </div>
</ion-content>
